{:linters
  {:unused-binding        {:level :error}
  :missing-docstring     {:level :error
                          :exclude-regex "test"}
  :redundant-do          {:level :error}
  :redundant-let         {:level :error}
  :single-key-in         {:level :error}
  :unreachable-code      {:level :error}
  :unused-import         {:level :error}
  :unused-namespace      {:level :error}
  :unused-private-var    {:level :error}
  :unresolved-symbol     {:level :error}
  :unresolved-namespace  {:level :error}
  :shadowed-var          {:level :error}
  :keyword-binding       {:level :error}
  :not-empty?            {:level :error}
  :discouraged-namespace {:level :error
                          :config {:patterns ["clojure.test"]}}
  :consistent-alias      {:level :error}}

  :output
  {:format   :text
  :progress false}}
