[{elvis, [
    {config, [
        #{dirs => ["src", "lib", "apps/*/src"],
          filter => "*.erl",
          ruleset => erl_files,
          rules => [
            {elvis_style, line_length,
              #{limit => 120, skip_comments => false}},
            {elvis_style, no_tabs},
            {elvis_style, no_trailing_whitespace},
            {elvis_style, macro_names,
              #{regex => "^([A-Z][A-Z0-9]*_?)*$"}},
            {elvis_style, macro_module_names},
            {elvis_style, nesting_level, #{level => 3}},
            {elvis_style, god_modules, #{limit => 15}},
            {elvis_style, no_if_expression},
            {elvis_style, invalid_dynamic_call, #{ignore => []}},
            {elvis_style, used_ignored_variable},
            {elvis_style, no_behavior_info},
            {elvis_style, module_naming_convention,
              #{regex => "^([a-z][a-z0-9]*_?)*$"}},
            {elvis_style, function_naming_convention,
              #{regex => "^([a-z][a-z0-9]*_?)*$"}},
            {elvis_style, state_record_and_type},
            {elvis_style, no_spec_with_records},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 10}},
            {elvis_style, no_debug_call},
            {elvis_style, consistent_generic_type,
              #{prefer_generics => false}},
            {elvis_style, no_common_caveats_call}
          ]
        },
        #{dirs => ["include"],
          filter => "*.hrl",
          ruleset => hrl_files,
          rules => [
            {elvis_style, line_length, #{limit => 120}},
            {elvis_style, no_tabs},
            {elvis_style, no_trailing_whitespace},
            {elvis_style, macro_names},
            {elvis_style, macro_module_names}
          ]
        },
        #{dirs => ["."],
          filter => "Makefile",
          ruleset => makefiles,
          rules => [
            {elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
            {elvis_project, no_deps_master_rebar, #{ignore => []}}
          ]
        }
    ]},
    {output_format, colors},
    {verbose, false}
]}].
