profile=default
line-length=120
break-cases=fit
if-then-else=keyword-first
doc-comments=before
doc-comments-tag-only=fit
no-indicate-nested-or-patterns
sequence-style=separator
parens-style=parens
type-decl=compact
let-and=sparse
let-binding-spacing=compact
function-indent-default=normal
